<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Product</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/add-product.css">

</head>
<body>
<div class="container">
  <h1>Add New Product</h1>
  <form action="/admin/add-product" method="post">
    <label>Title:</label>
    <input type="text" name="title" required>

    <label>Image URL:</label>
    <input type="text" name="imageUrl" required>

    <label>Description:</label>
    <textarea name="description" required></textarea>

    <label>Extended Description:</label>
    <textarea name="extendedDescription"></textarea>

    <label>Base Price:</label>
    <input type="number" name="price" required>

    <label>Paczkomat Price:</label>
    <input type="number" name="paczkomatPrice" required>

    <label>Poczta Price:</label>
    <input type="number" name="pocztaPrice" required>

    <label>Kurier Price:</label>
    <input type="number" name="kurierPrice" required>

    <label>Stock Quantity:</label>
    <input type="number" name="stockQuantity" required>

    <button type="submit">Save Product</button>
  </form>


  <a href="/admin" class="button">Back to Admin Panel</a>
</div>
</body>
</html>
