<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/auth.js"></script>

</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">

  <h1>Admin Panel</h1>
  <a href="/admin/add-product" class="button">Add New Product</a>

  <table>
    <thead>
    <tr>
      <th>Product</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.title}"></td>
      <td>
        <form th:action="@{'/admin/delete-product/' + ${product.id}}" method="post">
          <button type="submit" class="delete-button">Delete</button>
        </form>
        <a th:href="@{'/admin/moderate-reviews/' + ${product.id}}" class="button">Moderate Reviews</a>
      </td>
    </tr>
    </tbody>
  </table>

  <a href="/products" class="button">Back to Product List</a>
</div>
</body>
</html>

