<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">

    <a href="/products" class="button">Back to Product List</a>

    <h1>Your Cart</h1>
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.items}">
            <td th:text="${item.product.title}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.product.price * item.quantity}"></td>
            <td>
                <form th:action="@{'/cart/remove/' + ${item.product.id}}" method="post">
                    <button type="submit">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h3>Total Cost: <span th:text="'$' + ${totalCost}"></span></h3>
    <a href="/checkout" class="button">Proceed to Checkout</a>
</div>
</body>
</html>
