.navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #555;
}

.admin-button {
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.admin-button:hover {
    background-color: #0056b3;
}
